body{
    background-color: aqua;
}
.flames{
    text-align: center;
    border: solid;
    margin-left: 30%;
    margin-right: 30%;
    background-color: pink;
    height: 650px;
    margin-bottom: 40px;
}
label{
    margin-bottom: 40px;
}
input{
    width: 95%;
    height: 30px;
    margin-bottom: 40px;
    border-radius: 20px;
}
input:hover{
    border-color: black;
    box-shadow: skyblue;
    transition: box-shadow 0.3s,border-color 0.3s;

}
hr{
    background-color: black;
    margin-bottom: 50px;
    margin-top: 40px;

}
button{
    background-color: blue;
    color: aliceblue;
    width: 200px;
    height: 50px;
    border-radius: 15px;
}
.image{
    height: 200px;
    width: 200px;
    display: flex;
    gap: 150px;
    margin-left: 20px;
}
.note{
    text-align: center;
}
.note span{
    font-family:fantasy;
    font-size: 30px;
    color: red;
}
@media(max-width:600px){
    body{
        width: 95%;
    }
    .image{
        height: 100px;
        width: 100px;
    gap: 50px;

    }
    .flames{
        margin-top: 50px;
        margin-left: 10%;
        margin-right: 10%;
        background-color: pink;
        height: 650px;
    }
    button{
        margin-bottom: 30px;
    }
}
